.selected-image-preview{
    width: 350px;
    height: 450px;
    margin-bottom: 20px;
}

.form-root{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
}

@media only screen and (max-width: 450px) {
    .selected-image-preview{
        width: 80%;
        margin-bottom: 20px;
    }
    .form-root{
        padding: 10px;
    }
}