.accounts-root{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accounts-main{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #c0c0c0;
    border-radius: 40px;
}

.edit-root{
    width: 80%;
    padding: 50px;
}

.profile-picture-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile-picture{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

@media only screen and (max-width: 450px) {
    .edit-root{
        width: 90%;
        padding: 20px;
    }
}

@media only screen and (max-width: 370px) {
    .accounts-main{
        width: 100%;
    }
    .edit-root{
        width: 100%;
        padding: 0px;
    }
}